body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background: #111;
  padding: 10px;
}

canvas {
  border: 2px solid white;
  display: block;
  margin: 20px auto;
}
